h1,h2 {
    text-align: center;
    color: white
}
body {
    background-image: ;
}
* {
    padding: 0;
    margin: 0;
}
body {
    background: url(https://media.istockphoto.com/id/1294603953/vector/abstract-black-stripes-diagonal-background.jpg?s=612x612&w=0&k=20&c=nQZHTk-o97cNVqWnUe8BJg0A5jQG0tqylquzbt9YtcQ=);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 200px; */
    height: 100vh;
    text-align: center;
}
#practice-button {
    height: 60px;
    color: white;
  
    
    
}

#start-button {
    height: 60px;
    color: white;
 

}


#circle-one img{
    display: block;
    margin-top: 220px;
    margin-left: auto;
    margin-right: auto;
  top: 20px;
  width: 10%;
}
#circle-two img {
    display: block;
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 220px;
    top: 20px;
    width: 10%;
}
#circle-three img {
    display: block;
    margin-top: 80px;
    margin-left: 500px;
    margin-right: 220px;
    top: 20px;
    width: 10%;
}
#circle-four img {
    display: block;
    margin-top: 100px;
    margin-left: 600px;
    margin-right: 220px;
    top: 20px;
    width: 10%;
}

#circle-five img {
    display: block;
    margin-top: 300px;
    margin-left: 600px;
    margin-right: 220px;
    top: 20px;
    width: 10%;
}

#circle-6 img {
    display: block;
    margin-top: 300px;
    margin-left: 10px;
    margin-right: 1000px;
    top: 20px;
    width: 10%;
}

#circle-7 img {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 220px;
    top: 20px;
    width: 10%;
}

#circle-8 img {
    display: block;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 220px;
    top: 20px;
    width: 10%;
}

#circle-9 img {
    display: block;
    margin-top: 300px;
    margin-left: 500px;
    margin-right: 220px;
    top: 20px;
    width: 10%;
}

#circle-10 img {
    display: block;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 220px;
    top: 20px;
    width: 10%;
}
#circle-11 img {
    display: block;
    margin-top: 600px;
    margin-left: 600px;
    margin-right: 220px;
    top: 20px;
    width: 10%;
}
#circle-12 img {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: 220px;
    top: 20px;
    width: 10%;
}

.game-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: center;
    max-width: 100%;
    height: 50vh;
    background-color: slateblue;
    box-shadow: crimson;
    border-radius: 20px;
    overflow: hidden;
} 


#circle-last img {
    display: block;
    margin-top: 20px;
    margin-left: 220px;
    margin-right: 220px;
    top: 20px;
    width: 10%;
}
#countdown {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 4px;
    margin-left: 20px;;
    font-size: 50px;
    width: 200px;
    height: 300px;
}

.circle {
   position: absolute;
    border-radius: 50%;
    cursor: pointer;
  }
