h1,h2 {
    text-align: center;
}
body {
    background-image: ;
}
/* * {
    padding: 0;
    margin: 0;
} */
body {
    background: url(https://static.vecteezy.com/system/resources/thumbnails/002/015/238/original/abstract-3d-pattern-grid-retro-sci-fi-background-free-video.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 200px; */
    height: 100vh;
}

#circle-one img{
    display: block;
    margin-top: 220px;
    margin-left: auto;
    margin-right: auto;
  top: 20px;
  width: 10%;
}
#circle-two img {
    display: block;
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 220px;
    top: 20px;
    width: 10%;
}
#circle-three img {
    display: block;
    margin-top: 80px;
    margin-left: 500px;
    margin-right: 220px;
    top: 20px;
    width: 10%;
}
#circle-four img {
    display: block;
    margin-top: 100px;
    margin-left: 600px;
    margin-right: 220px;
    top: 20px;
    width: 10%;
}
/* #circle-five {
    display: block;
    margin-top: 50px;
    margin-left: 700px;
    margin-right: 220px;
    top: 20px;
    width: 10%;
} */


#circle-last img {
    display: block;
    margin-top: 20px;
    margin-left: 220px;
    margin-right: 220px;
    top: 20px;
    width: 10%;
}
#countdown {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 4px;
    margin-left: 20px;;
    font-size: 50px;
    width: 200px;
    height: 300px;
}